:root {
    --logo-depth: 20px;
}

top-nav, side-nav {
    height: 0;
    width: 0;
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
}

#content {
    font-family: Arial;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    font-size: .63em;
}

#content input, #content .tr, #content .en {
    display: none;
}

.container {
    width: 50%;
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.card {
    width: 35em;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .5), 0 0 50px rgba(0, 0, 0, .5);
    transition: transform .5s ease;
    transform-style: preserve-3d;
}

.circle {
    width: 10em;
    height: 10em;
    margin: 24px auto;
    background-size: contain;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: transform .75s ease-out;
}

.logo {
    left: 26px;
    transform: translateZ(1px);
    transition: transform .75s ease-out;
}

.logo, .logo>div {
    position: absolute;
    transform-style: preserve-3d;
}

.logo svg {
    fill: #fff;
}

.i {
    transform: rotateZ(25deg);
}

.i>div:last-child {
    margin-top: 8px;
}

.box {
    display: flex;
    transform-style: preserve-3d;
}

.box>div {
    background-color: #e30a1799;
    border: 1px solid #fff;
    position: absolute;
}

.box>div:nth-child(odd) {
    width: 100%;
    height: var(--logo-depth);
}

.box>div:nth-child(even) {
    width: var(--logo-depth);
    height: 100%;
}

.box>div:nth-child(1) {
    transform: rotateX(-90deg);
    transform-origin: top;
}

.box>div:nth-child(2) {
    left: 0;
    transform: rotateY(90deg);
    transform-origin: left;
}

.box>div:nth-child(3) {
    bottom: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.box>div:nth-child(4) {
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
}

.a {
    transform: translateX(35px) translateY(10px) rotateZ(-21deg);
}

.a>.box:last-child {
    position: absolute;
    transform: rotateZ(20deg);
    top: 35px;
    right: 2px;
}

.a>.box:first-child>div:nth-child(1) {
    right: 0;
    width: 140%;
    transform: rotateX(-90deg) rotateY(46deg);
    transform-origin: top right;
}

.a>.box:first-child>div:nth-child(2) {
    bottom: 0;
    height: 80%;
}

.a>.box:last-child>div:nth-child(1) {
    right: 0;
    width: 82%;
}

.a>.box:last-child>div:nth-child(2) {
    bottom: 0;
    height: 109%;
    transform: rotateY(90deg) rotateX(-26deg);
    transform-origin: bottom left;
}

.info {
    padding: 0 12%;
    transform-style: preserve-3d;
}

.info h1 {
    font-size: 3em;
    color: #fff;
    transition: transform .75s ease-out;
    text-shadow: 2px 2px 4px #000;
}

.info h2 {
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: lighter;
    transition: transform .75s ease-out;
    color: rgb(223, 223, 223);
    text-shadow: 2px 2px 4px #000;
}

.info p {
    font-size: 1.3em;
    line-height: 1.6em;
    color: #fff;
    margin-bottom: 15px;
    transition: transform .75s ease-out;
    text-shadow: 2px 2px 4px #000;
}

.background {
    display: var(--d);
    position: absolute;
    top: -10%;
    left: -100%;
    background-repeat: repeat-x;
    background-size: contain;
    width: 320%;
    height: 120%;
    opacity: 0;
    background-image: url('/assets/images/home/universe.jpeg');
    transition: opacity .5s cubic-bezier(.645, .045, .355, 1);
}

.effects {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 30px;
}

.glow {
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .18) 70%, rgba(255, 255, 255, 0) 100%);
    filter: blur(5px);
    transform: rotate(45deg) translate(-150%, 0);
    transition: transform .5s cubic-bezier(.645, .045, .355, 1);
}

.card:hover .glow {
    transform: rotate(45deg) translate(100%, 0);
}

.card:hover .background {
    opacity: .5;
}

.ns a {
    display: inline-block;
    color: #fff;
    text-underline-offset: 3px;
}

.ns div {
    text-align: center;
    margin-bottom: 28px;
    font-size: 1.4em;
}

label {
    color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
}

#tr:checked~div label[for=tr],
#en:checked~div label[for=en] {
    border-color: #fff;
}

#tr:checked~div .tr,
#en:checked~div .en {
    display: inline;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}