#content {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    font-size: .625em;
}

.container {
    width: 50%;
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.card {
    width: 35em;
    padding: 0;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .5), 0 0 50px rgba(0, 0, 0, .5);
    transform-style: preserve-3d;
}

.photo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.img {
    width: 10em;
    height: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/home/iakin_fg.png');
}

.photo .img {
    z-index: 2;
    transition: transform .75s ease-out;
}

.circle {
    width: 10em;
    height: 10em;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/home/iakin_bg.png');
    border: 1px solid #fff;
    border-radius: 50%;
    transition: transform .75s ease-out;
}

.info {
    padding: 0 5em;
    transform-style: preserve-3d;
}

.info h1 {
    font-size: 3em;
    color: #fff;
    transition: transform .75s ease-out;
    text-shadow: 2px 2px 4px #000;
}

.info h3 {
    font-size: 1.3em;
    padding: 2em 0;
    font-weight: lighter;
    transition: transform .75s ease-out;
    color: rgb(223, 223, 223);
    text-shadow: 2px 2px 4px #000;
}

.info p {
    font-size: 1.2em;
    color: #fff;
    transition: transform .75s ease-out;
    text-shadow: 2px 2px 4px #000;
}

.links {
    transition: transform .75s ease-out;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}

.background {
    position: absolute;
    top: -10%;
    left: -100%;
    background-repeat: repeat-x;
    background-size: contain;
    width: 300%;
    height: 125%;
    opacity: 0;
    background-image: url('../../assets/images/home/universe.jpeg');
    transition: opacity .5s cubic-bezier(.645, .045, .355, 1);
}

.effects {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 30px;
}

.glow {
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .18) 70%, rgba(255, 255, 255, 0) 100%);
    filter: blur(5px);
    transform: rotate(45deg) translate(-150%, 0);
    transition: transform .5s cubic-bezier(.645, .045, .355, 1);
}

.card:hover .glow {
    transform: rotate(45deg) translate(100%, 0);
}

.card:hover .background {
    opacity: .5;
}