#sidenav .filled, #topnav .filled {
    border-radius: 0;
}
.filled, .menu:hover .filled, .pin-menu:checked + div .filled {
    border: 1px solid #0a141d;
}
.expand .filled {
    border: none;
}
.docApp, .icon::before, .expand::before {
    background-color: var(--movies-clr);
}