#sidenav .filled, #topnav .filled {
    border-radius: 0;
}
.filled, .menu:hover .filled, .pin-menu:checked + div .filled {
    border: 1px solid #0a141d;
}
.expand .filled {
    border: none;
}
.docApp, .icon::before, .expand::before {
    background-color: #001529;
}
#root {
    height: 100%;
}
.App {
    height: 100%;
    overflow: auto;
}
section.ant-layout {
    min-height: 100%;
}