:root {
    --bg-clr: #0a141d;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    background-color: var(--bg-clr);
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 1fr;
}

@media screen and (max-width: 450px) {
    body {
        grid-template-columns: minmax(0, auto);
        grid-template-rows: auto 1fr;
    }
}