:root {
    --bg-clr: #0a141d;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-clr);
}

#main-container {
    display: flex;
    height: 100%;
    overflow: auto;
}

#content-container {
    width: 100%;
    overflow: auto;
}