<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="theme-color" content="#0a141d" />
    <meta name="description" content="Rotate Animation" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rotate Animation</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/components/navigation/sidenav/sidenav.css" />
    <link rel="stylesheet" type="text/css" href="/components/navigation/topnav/topnav.css" />
    <link rel="stylesheet" type="text/css" href="/components/navigation/navigation.css" />
    <link rel="stylesheet" type="text/css" href="../rotate-animation.css" />
    <script type="text/javascript" defer src="/components/navigation/sidenav/sidenav.js"></script>
    <script type="text/javascript" defer src="/components/navigation/topnav/topnav.js"></script>
    <script type="text/javascript" defer src="../rotate-animation.js"></script>
</head>
<body>
    <top-nav></top-nav>
    <side-nav></side-nav>
    <div id="drag-n-rotate" class="content">
        <div id="sq-c">
            <div class="square sq-m sq0t">
                <div class="square sq-tr-m">
                    <div class="square sq-tr sq00">
                        <div class="square sq-l sq00"></div>
                        <div class="square sq-r sq00"></div>
                    </div>
                    <div class="square sq-lr"></div>
                    <div class="square sq-rr"></div>
                </div>
                <div class="square sq-l"></div>
                <div class="square sq-r"></div>
                <div class="square sq sq0t">
                    <div class="square sq-l sq00"></div>
                    <div class="square sq-r"></div>
                    <div class="square sq sq0t">
                        <div class="square sq-l sq00"></div>
                        <div class="square sq-r"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rotation-buttons">
        <div><button id="up-button">&uarr;</button></div>
        <div>
            <button id="left-button">&larr;</button>
            <button id="center-button">O</button>
            <button id="right-button">&rarr;</button>
        </div>
        <div><button id="down-button">&darr;</button></div>
    </div>
</body>
</html>