.filled {
    background-color: #efefef;
    border-radius: 0;
}

body {
    background-color: #bfbfbf;
}

#root {
    max-width: 1250px;
    margin: auto;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

#root>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

button {
    cursor: pointer;
    padding: 5px;
}

#lcd button:not([lang-tag]) {
    padding: 25px 25px;
    margin: 4px 2px;
}

.btn-v {
    font-family: monospace;
    padding: 60px 8px;
}

.btn-h {
    padding: 4px 60px;
}

button:not([lang-tag]) {
    border: none;
}

#lcd {
    padding: 0 14px;
}

#lcd+table {
    padding: 0 20px;
}

table:last-child th {
    padding-bottom: 40px;
}

#lcd th {
    padding-bottom: 20px;
}

#lcd tr:nth-child(2) {
    text-align: center;
}

#lcd tr:nth-child(2)>td:first-child {
    padding: 10px;
}

.output {
    position: absolute;
}

.link {
    text-decoration: none;
    margin: 20px;
}

.link-img,
.link-img::before {
    background-position: center;
    background-repeat: no-repeat;
    width: 155px;
    height: 60px;
}

.link-img:nth-child(2) {
    background-image: url('/assets/images/projects/lcd/google-play-badge.png');
    background-size: 98%;
}

.link-img:nth-child(3) {
    background-image: url('/assets/images/projects/lcd/huawei-app-gallery-badge.png');
    background-size: contain;
}

.link-img:nth-child(4) {
    background-image: url('/assets/images/projects/lcd/xiaomi-getapps-badge.svg');
    background-size: 83%;
}

.link-img.confirm::before {
    content: '';
    display: block;
    background-image: url('/assets/images/projects/lcd/windows-badge.png');
    background-size: 90%;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.link:last-child {
    text-align: center;
    width: 114px;
}

.confirm>div {
    visibility: collapse;
    font-weight: 600;
    position: absolute;
    padding: 22px 5px 5px 5px;
    background-color: #bfbfbf;
    border: 2px solid;
    border-radius: 8px;
    transition-delay: .1s;
    margin-top: -30px;
}

.confirm:focus-within>div {
    visibility: unset;
}

.confirm a,
.confirm button {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
}

.confirm a:active,
.confirm button:active {
    transform: scale(.9);
}

.confirm a {
    float: right;
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.confirm button {
    background: none;
    border: none;
    padding: 0;
}