.filled {
    background-color: rgb(239, 239, 239);
    border-radius: 0;
}

body {
    background-color: rgba(128, 128, 128, .5);
}

#root {
    display: flex;
}

#root>div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

#root>div>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

button {
    cursor: pointer;
    padding: 5px;
}

.btn-b {
    padding: 25px 25px;
    margin: 4px 2px;
}

.btn-v {
    font-family: monospace;
    padding: 60px 8px;
}

.btn-h {
    padding: 4px 60px;
}

.btn-b, .btn-v, .btn-h, #idp {
    border: none;
}

table {
    padding: 0 20px;
}

table:last-child th {
    padding-bottom: 40px;
}

#lcd th {
    padding-bottom: 20px;
}

#lcd tr:nth-child(2) {
    text-align: center;
}

#lcd tr:nth-child(2)>td:first-child {
    padding: 10px;
}

.link {
    text-decoration: none;
    margin: 20px;
}

.link-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 155px;
    height: 60px;
}

.link-img:nth-child(2) {
    background-image: url('/assets/images/projects/lcd/google-play-badge.png');
}

.link-img:nth-child(3) {
    background-image: url('/assets/images/projects/lcd/huawei-app-gallery-badge.png');
}

.link-img:nth-child(4) {
    background-image: url('/assets/images/projects/lcd/xiaomi-getapps-badge.svg');
    background-size: 84%;
}