.filled {
    background-color: #efefef;
    border-radius: 0;
}

body {
    background-color: #bfbfbf;
}

#root {
    max-width: 1250px;
    margin: auto;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

#root>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

button {
    cursor: pointer;
    padding: 5px;
}

#lcd button:not([lang-tag]) {
    padding: 25px 25px;
    margin: 4px 2px;
}

.btn-v {
    font-family: monospace;
    padding: 60px 8px;
}

.btn-h {
    padding: 4px 60px;
}

button:not([lang-tag]) {
    border: none;
}

#lcd {
    padding: 0 14px;
}

#lcd+table {
    padding: 0 20px;
}

table:last-child th {
    padding-bottom: 40px;
}

#lcd th {
    padding-bottom: 20px;
}

#lcd tr:nth-child(2) {
    text-align: center;
}

#lcd tr:nth-child(2)>td:first-child {
    padding: 10px;
}

.output {
    position: absolute;
}

.link {
    text-decoration: none;
    margin: 20px;
}

.link-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 155px;
    height: 60px;
}

.link-img:nth-child(2) {
    background-image: url('/assets/images/projects/lcd/google-play-badge.png');
}

.link-img:nth-child(3) {
    background-image: url('/assets/images/projects/lcd/huawei-app-gallery-badge.png');
}

.link-img:nth-child(4) {
    background-image: url('/assets/images/projects/lcd/xiaomi-getapps-badge.svg');
    background-size: 84%;
}

.link-img:nth-child(5) {
    background-image: url('/assets/images/projects/lcd/windows-badge.png');
    background-size: 90%;
}

.link:last-child {
    text-align: center;
    width: 114px;
}