:root {
    --topnav-height: 40px;
}

top-nav {
    z-index: 3;
}

#topnav {
    display: none;
    grid-template-columns: repeat(8, 1fr);
    height: var(--topnav-height);
    width: 100%;
}

#topnav .menu:hover>.expand {
    left: 0;
    top: 100%;
    z-index: 1;
}

#topnav.main>div {
    padding: calc(var(--sidenav-gap) / 3);
}

#topnav.main>div {
    padding: calc(var(--sidenav-gap) / 3);
}

#topnav .expand>div {
    padding: calc(var(--sidenav-gap) / 3);
}