:root {
    --topnav-height: 40px;
}

top-nav {
    display: none;
    height: var(--topnav-height);
}

#topnav {
    grid-template-columns: repeat(7, 1fr);
    height: var(--topnav-height);
    position: fixed;
    width: 100%;
    z-index: 3;
}

#topnav .menu:focus-within>.expand,
#topnav .menu.hvr:hover>.expand {
    height: 100%;
    opacity: 1;
    top: 100%;
}

#topnav>div, #topnav .expand>div {
    padding: calc(var(--nav-gap) / 3);
}

#topnav .expand {
    height: 0;
}