:root {
    --topnav-height: var(--n, 45px);
}

top-nav {
    display: none;
    height: var(--topnav-height);
}

#topnav {
    grid-template-columns: repeat(7, 1fr);
    height: var(--topnav-height);
    position: fixed;
    width: 100%;
    z-index: 3;
}

#topnav div>span {
    height: 14px;
    width: calc(100% - 2 * var(--nav-gap) / 4);
    bottom: calc(var(--nav-gap) / 4);
    font-size: 11px;
}

#topnav .filled::before {
    mask-position: 50% 15%;
}

#topnav .menu:focus-within>.expand,
#topnav .menu.hvr:hover>.expand {
    height: 100%;
    opacity: 1;
    top: 100%;
}

#topnav>div, #topnav .expand>div {
    padding: calc(var(--nav-gap) / 4);
}

#topnav .expand {
    height: 0;
}

#topnav .color {
    padding: 0;
}