.filled {
    border-radius: 0;
    border-width: 8px;
    border-style: solid;
    border-color: rgb(220, 220, 220) rgb(220, 220, 220) rgba(220, 220, 220, 0.1) rgba(220, 220, 220, 0.3);
}

div.App aside {
    max-width: unset;
    width: unset;
}

div.styled-display {
    white-space: nowrap;
    padding: 16px;
}

button.styled-button {
    border: 4px outset #666;
    padding: 15px;
}

button.styled-button:active {
    border-style: inset;
}