top-nav, side-nav {
    height: 0;
    width: 0;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

#root>div {
    position: relative;
}

video, canvas {
    width: 100%;
}

canvas {
    position: absolute;
    height: 100%;
    left: 0;
}