top-nav, side-nav {
    height: 0;
    width: 0;
}

#root {
    margin: auto;
    position: relative;
}

video, canvas {
    width: 100%;
}

canvas {
    position: absolute;
    height: 100%;
    left: 0;
}