#face-detector {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#topnav, #sidenav, canvas {
    position: absolute;
}

#main-container {
    overflow: hidden;
}