<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="../../../favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sidenavbar</title>
	<link href="../../../styles.css" rel="stylesheet" type="text/css" />
	<link href="./sidenavbar.css" rel="stylesheet" type="text/css" />
	<link href="../../topnavbar/topnavbar.css" rel="stylesheet" type="text/css" />
	<link href="../../ripple-button/ripple-button.css" rel="stylesheet" type="text/css" />
	<script src="./side-navbar.js" type="text/javascript" defer></script>
	<script src="../../topnavbar/top-navbar.js" type="text/javascript" defer></script>
	<script src="../../ripple-button/ripple-button.js" type="text/javascript" defer></script>
</head>
<body>
	<div id="docroot">
		<div class="docApp">
			<top-navbar></top-navbar>
			<div id="main-container">
				<div id="sidenav-mobile">
					<side-navbar></side-navbar>
				</div>
				<div id="content-container" style="color: white;">
					X
				</div>
			</div>
		</div>
	</div>
</body>
</html>