:root {
    --sidenav-width: 90px;
    --sidenav-gap: 10px;
}
#sidenavbar {
    height: 99%;
}
#center {
    z-index: 1;
}
#collapse {
    opacity: 0;
}
#main {
    display: flex;
    justify-content: center;
    height: 100%;
    transition: width .1s linear;
}
.sub {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: var(--sidenav-gap);
    padding: 0 calc(var(--sidenav-gap) / 2);
    height: 100%;
    width: var(--sidenav-width);
    transition: transform .1s linear;
}
.sub .white {
    border-radius: 10px;
}
.transform {
    top: 0;
    position: absolute;
}
.close {
    width: var(--sidenav-width);
}
.open {
    width: calc(var(--sidenav-width) * 3);
}
.right-open {
    transform: translateX(var(--sidenav-width));
}
.right-ext-cont {
    width: calc(100% + var(--sidenav-gap));
}
.right-ext {
    margin-left: calc(var(--sidenav-gap) / -2);
    z-index: -1;
}
#center a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
}
#center button {
    position: relative;
    cursor: pointer;
    border: none;
    height: 100%;
}
.right-ext-cont > a, .right-ext-cont > button {
    width: calc(100% - var(--sidenav-gap));
}
.collapse-ext {
    display: none;
    position: absolute;
    height: 0;
    width: 0;
    z-index: 2;
}
.collapse-ext::after {
    content: ' ';
    background-image: url('../../../assets/icons/navbar/pin.svg');
    background-size: 20px 20px;
    display: inline-block;
    margin: 1px 8px;
    height: 20px;
    width: 20px;
}
.collapse-ext:checked {
    display: inline-block;
}
.collapse-ext:checked::after {
    transform: rotateZ(-45deg);
    height: 15px;
}
.collapse-ext:checked + .right-ext {
    transform: translateX(var(--sidenav-width));
    height: 100%;
}
.right-ext-cont:hover .collapse-ext {
    display: inline-block;
} 
.right-ext-cont:hover .right-ext {
    transform: translateX(var(--sidenav-width));
    height: 100%;
}
.white {
    background-color: #fff;
}
input {
    cursor: pointer;
    height: 100%;
    width: 100%;
}
@media screen and (max-height: 190px) {
    .collapse-ext { display: none; }
}