:root {
    --rotate-height: 120px;
    --rotate-width: 120px;
}

body {
    overflow: hidden;
}

top-nav, side-nav {
    position: absolute;
}

#rotation-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#rotation-buttons div {
    display: flex;
    justify-content: center;
}
#rotation-buttons button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: move;
    perspective: 500px;
}

#sq-c {
    height: var(--rotate-height);
    width: var(--rotate-width);
    transform: rotateX(-15deg) rotateY(46deg);
    transform-origin: center center -60px;
    transform-style: preserve-3d;
}

.square {
    position: absolute;
    width: var(--rotate-width);
    height: var(--rotate-height);
    background-color: #80808060;
    box-shadow: inset 0px 0px 0px 5px #000;
    cursor: pointer;
    transition: transform .5s linear, background-color .5s linear, box-shadow .5s linear;
    transform-origin: var(--rotate-width) var(--rotate-height);
    transform-style: preserve-3d;
}
.square-hover {
    background-color: #808080;
}

.sq-m {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
}
.sq-l {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
}
.sq-r {
    transform-origin: 0;
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
}
.sq-t-m {
    transform-origin: 0 0;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
}
.sq-t {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
}
.sq {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(var(--rotate-height)) translateZ(0px);
}
.sq-tr-m {
    transform-origin: 0 0;
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
}
.sq-tr {
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
}
.sq-lr {
    transform: rotateX(0deg) rotateY(-270deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
}
.sq-rr {
    transform-origin: 0;
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
}

#sq-c:hover .sq {
    transform: rotateX(0deg) translateY(var(--rotate-height));
}
#sq-c:hover .sq-l {
    transform: rotateY(-180deg);
}
#sq-c:hover .sq-r {
    transform: rotateY(180deg);
}
#sq-c:hover .sq-t-m,
#sq-c:hover .sq-t {
    transform: rotateX(180deg);
}
#sq-c:hover .sq-lr {
    transform: rotateY(-180deg);
}
#sq-c:hover .sq-rr {
    transform: rotateY(180deg);
}
#sq-c:hover .sq-tr-m, #sq-c:hover .sq-tr {
    transform: rotateX(180deg);
}
#sq-c:hover .sq0t {
    background-color: #ffffff00;
    box-shadow: none;
}
.sq00 {
    background-color: #ffffff00;
    box-shadow: none;
}