.filled {
    background-color: rgb(206 208 210);
    border: 2px outset #fff;
    border-radius: 0;
}

#collapse:active+.filled,
.pin-menu:active+.filled,
.filled:active {
    border-style: inset;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(206 208 210);
    text-align: center;
    user-select: none;
    min-height: 0;
}

canvas {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, .8);
    max-height: 100%;
    max-width: 100%;
    min-height: 0;
}

#root>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#root>div:last-child {
    width: 115px;
}

#space {
    width: 100%;
    height: 30px;
    max-width: 190px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    background-color: rgba(255, 255, 255, .8);
    border-color: #fff;
}