<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link href="/components/navigation/sidenav/sidenav.css" rel="stylesheet" type="text/css" />
    <link href="/components/navigation/topnav/topnav.css" rel="stylesheet" type="text/css" />
    <link href="/components/navigation/navigation.css" rel="stylesheet" type="text/css" />
    <script src="/components/navigation/sidenav/sidenav.js" type="text/javascript" defer></script>
    <script src="/components/navigation/topnav/topnav.js" type="text/javascript" defer></script>
    <script src="/components/container/container.js" type="text/javascript" defer></script>
</head>
<body>
    <root-container>
        <div style="color:#fff;">
            X
        </div>
    </root-container>
</body>
</html>