<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="theme-color" content="#0a141d" />
    <meta name="description" content="Container" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Container</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="../navigation/sidenav/sidenav.css" />
    <link rel="stylesheet" type="text/css" href="../navigation/topnav/topnav.css" />
    <link rel="stylesheet" type="text/css" href="../navigation/navigation.css" />
    <script type="text/javascript" defer src="../navigation/sidenav/sidenav.js"></script>
    <script type="text/javascript" defer src="../navigation/topnav/topnav.js"></script>
    <script type="text/javascript" defer src="container.js"></script>
</head>
<body>
    <root-container>
        <div style="color:#fff;">
            X
        </div>
    </root-container>
</body>
</html>