<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotate Animation</title>
    <link href="../rotate-animation.css" type="text/css" rel="stylesheet" />
    <script src="../rotate-animation.js" type="text/javascript" defer></script>
</head>
<body>
    <div id="drag-n-rotate" class="content">
        <div id="sq-c">
            <div class="square sq-m">
                <div class="square sq-t-m sq00">
                    <div class="square sq-t"></div>
                </div>
                <div class="square sq-l"></div>
                <div class="square sq-r"></div>
                <div class="square sq">
                    <div class="square sq">
                        <div class="square sq">
                            <div class="square sq">
                                <div class="square sq-l"></div>
                                <div class="square sq-r"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rotation-buttons">
        <div><button id="up-button">&uarr;</button></div>
        <div>
            <button id="left-button">&larr;</button>
            <button id="center-button">O</button>
            <button id="right-button">&rarr;</button>
        </div>
        <div><button id="down-button">&darr;</button></div>
    </div>
</body>
</html>