<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="sidenav/sidenav.css" />
    <link rel="stylesheet" type="text/css" href="topnav/topnav.css" />
    <link rel="stylesheet" type="text/css" href="navigation.css" />
    <script type="text/javascript" defer src="sidenav/sidenav.js"></script>
    <script type="text/javascript" defer src="topnav/topnav.js"></script>
</head>
<body>
    <div id="docroot">
        <div class="docapp">
            <top-nav></top-nav>
            <div id="main-container">
                <div id="sidenav-mobile">
                    <side-nav></side-nav>
                </div>
                <div id="content-container" style="color: #fff;">
                    X
                </div>
            </div>
        </div>
    </div>
</body>
</html>