#sidenav .filled, #topnav .filled {
    background-color: #f5f5f5;
    border-radius: 0;
}
.filled, .menu:hover .filled, .pin-menu:checked + div .filled {
    border: 1px solid #0a141d;
}
.expand .filled {
    border: none;
}
#collapse:checked+.back {
    background-image: url('data:image/svg+xml, <svg fill="rgb(0,128,128)" viewBox="0 0 309.143 309.143" xmlns="http://www.w3.org/2000/svg"><path d="M240.481,149.268L93.41,2.197c-2.929-2.929-7.678-2.929-10.606,0L68.661,16.34c-1.407,1.406-2.197,3.314-2.197,5.303c0,1.989,0.79,3.897,2.197,5.303l127.626,127.625L68.661,282.197c-1.407,1.406-2.197,3.314-2.197,5.303c0,1.989,0.79,3.897,2.197,5.303l14.143,14.143c1.464,1.464,3.384,2.197,5.303,2.197c1.919,0,3.839-0.732,5.303-2.197l147.071-147.071C243.411,156.946,243.411,152.197,240.481,149.268z"/></svg>');
}
.expand::before {
    background-image: url('data:image/svg+xml, <svg fill="rgb(0,128,128)" viewBox="0 0 92 92" transform="rotate(-45)" xmlns="http://www.w3.org/2000/svg"><path d="M90.8,26.4L65.6,1.2c-1.6-1.6-4.1-1.6-5.7,0c-0.3,0.3-7.6,7.8-4.8,17.6L43.7,30.2 c-6.3-1.9-22.4-5.2-34.3,6.7c-1.6,1.6-1.6,4.1,0,5.7l17.2,17.2L1.2,85.2c-1.6,1.6-1.6,4.1,0,5.7C2,91.6,3,92,4,92s2-0.4,2.8-1.2 l25.4-25.4l17.2,17.2c0.8,0.8,1.8,1.2,2.8,1.2c1,0,2-0.4,2.8-1.2c11.9-11.9,8.6-28.1,6.7-34.3l11.4-11.4c9.8,2.8,17.2-4.5,17.6-4.8 C92.4,30.5,92.4,28,90.8,26.4z M73.9,28.6c-1.5-0.7-3.3-0.4-4.5,0.8l-15,15c-1.1,1.1-1.5,2.9-0.9,4.3c0,0,1.8,4.5,2.1,10.3 c0.3,5.8-0.9,10.7-3.6,14.8L35,57c0,0,0,0,0,0s0,0,0,0l-17-17c10.7-7.2,24.5-1.8,25.1-1.5c1.5,0.6,3.2,0.3,4.4-0.9l15-15 c1.2-1.2,1.5-3,0.8-4.5c-1.4-3-0.9-5.7,0-7.8l18.4,18.4C79.7,29.5,76.9,30,73.9,28.6z M50.2,50.3c0.1,0.3,1.4,3.2,1.3,6.3 C51.5,58.5,49.9,60,48,60c0,0-0.1,0-0.1,0c-1.9-0.1-3.5-1.7-3.4-3.6c0-1.3-0.5-2.8-0.7-3.3c-0.8-1.8,0-3.8,1.8-4.6 C47.4,47.8,49.5,48.5,50.2,50.3z"/></svg>');
}
:root {
    --resume-clr: #008080;
    --resume-clr-hvr: #006060;
    --resume-txt: #fff;
}
#resume-container {
    display: flex;
    justify-content: center;
    font-size: 0.939em;
    height: 100%;
    line-height: 1.5;
}

#resume-page {
    display: flex;
    background-color: #f5f5f5;
    width: 85%;
    max-width: 1125px;
    overflow: auto;
    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);
}

#resume-page h2 {
    color: var(--resume-clr);
}

.resume-lang-option {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-bottom: 2px;
}

#resume-leftside {
    overflow: auto;
    width: 35%;
    padding-left: 2%;
    padding-right: 2%;
}

#resume-leftside hr {
    margin-bottom: 5px;
    border-color: var(--resume-clr);
}

#resume-rightside {
    overflow: auto;
    width: 65%;
}
.resume-padding {
    padding-left: 2%;
    padding-right: 2%;
}

#resume-rightside li {
    margin-left: 18px;
}::marker{
    content: '◻  '; 
    font-size: small;
    color: var(--resume-clr);
}
#resume-rightside hr {
    margin-bottom: 10px;
    border-color: var(--resume-clr);
}
#resume-rightside a {
    white-space: nowrap;
    color: #000;
}
#resume-summary {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    background-color: var(--resume-clr);
    color: var(--resume-txt);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px
}
#profession {
    border-bottom: 1.5px solid var(--resume-txt);
    padding-bottom: 2px;
}
#resume-summary p {
    margin-top: 10px;
}

#left-profile-image, #right-profile-image {
    background-image: url('../assets/images/resume/ibrahimAKIN.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 129px;
    margin-top: 20px;
}
#right-profile-image {
    margin-top: 0;
    display: none;
}
#contact {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}
#contact div {
    padding: 4px 0;
    font-weight: 500;
}
#contact a {
    text-decoration: none;
    color: #000;
}
.contact-icon { 
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 15px;
    height: 15px;
}
#mail-icon {
    background-image: url('../assets/icons/resume/email.svg');
}
#phone-icon {
    background-image: url('../assets/icons/resume/smartphone.svg');
}
#location-icon {
    background-image: url('../assets/icons/resume/maps-and-flags.svg');
}
#www-icon {
    background-image: url('../assets/icons/resume/www.svg');
}
#linkedin-icon {
    background-image: url('../assets/icons/resume/linkedin.svg');
}
#github-icon {
    background-image: url('../assets/icons/resume/github.svg');
}
#stackoverflow-icon {
    background-image: url('../assets/icons/resume/stack-overflow.svg');
}
.private-info {
    filter: blur(3px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.skill {
    display: inline-block;
    background-color: var(--resume-clr);
    color: var(--resume-txt);
    padding: 5px;
    border-radius: 7px;
    margin-top: 5px;
    cursor: default;
}
.skill:hover {
    background-color: var(--resume-clr-hvr);
}
.interest {
    display: inline-block;
    border: 1px solid #808080;
    padding: 5px;
    border-radius: 7px;
    margin-top: 5px;
    cursor: default;
}
.interest:hover {
    border-color: var(--resume-clr-hvr);
    color: var(--resume-clr-hvr);
}
.language {
    margin-bottom: 5px;
}

#educations {
    margin-top: 10px;
}

.education {
    margin-bottom: 20px;
}
.edu-period {
    display: flex;
    justify-content: space-between;
    color: var(--resume-clr);
    font-style: italic;
}
.education-content {
    display: flex;
    justify-content: space-between;
}
.education-content > div {
    width: 50%;
}
.sec-title {
    color: var(--resume-clr);
    font-style: italic;
}

#read-more-courses, #read-less-courses {
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap;
}
.work-experience {
    margin-bottom: 20px;
}
.certificate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.cert-info {
    width: 100%;
}
.cert-period {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
}

#skills, #interests, #languages {
    margin-bottom: 20px;
}

@media screen and (max-width: 1125px) {
    #resume-page {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #resume-page {
        flex-direction: column-reverse;
    }
    #resume-leftside{
        overflow: unset;
        width: 100%;
    }
    #resume-rightside {
        overflow: unset;
        width: 100%;
    }
    #right-profile-image { display: block; width: 200px; }
    #left-profile-image { display: none; }
}

@media screen and (max-height: 400px) {
    #resume-summary {
        position: relative;
    }
    #contact {
        position: relative;
    }
}