:root {
    --resume-clr: #007070;
    --resume-clr-hvr: #006060;
    --resume-txt: #f5f5f5;
    --nav-clr: var(--resume-clr);
}

#topnav {
    background-color: var(--resume-clr);
}

.filled {
    background-color: var(--resume-txt);
    border: 1px solid var(--bg-clr);
    border-radius: 0;
}

#collapse:hover+.filled,
.menu.hvr>.pin-menu:hover+.filled,
:not(.menu)>.filled:hover,
.menu.hvr>.filled:hover,
.pin-menu:hover~span,
.filled:hover+span {
    --nav-clr: var(--resume-clr-hvr);
}

#root {
    display: flex;
    font-size: 0.939em;
    line-height: 1.5;
    margin: auto;
    max-width: 1000px;
    background-color: var(--resume-txt);
    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);
}

#root h2 {
    color: var(--resume-clr);
}

#resume-left .lang-button {
    padding: 5px;
    margin-bottom: 2px;
}

#resume-left {
    overflow: auto;
    position: sticky;
    scrollbar-width: thin;
    height: 100vh;
    top: 0;
    width: 35%;
}

#resume-left::-webkit-scrollbar {
    width: 8px;
}

#resume-left::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
}

#resume-left::-webkit-scrollbar-thumb:hover {
    background-color: #c1c1c1;
}

#resume-left::-webkit-scrollbar-thumb:active {
    background-color: #aaa;
}

#resume-left hr {
    margin-bottom: 5px;
    border-color: var(--resume-clr);
}

#resume-right {
    width: 65%;
}

.padding {
    padding-left: 2%;
    padding-right: 2%;
}

#resume-right li {
    margin-left: 18px;
}

::marker {
    content: '◻  ';
    font-size: small;
    color: var(--resume-clr);
}

#resume-right hr {
    margin-bottom: 10px;
    border-color: var(--resume-clr);
}

#resume-right a {
    color: #000;
}

#resume-right li>a, #resume-right h3>a {
    text-decoration: none;
}

#resume-summary {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    background-color: var(--resume-clr);
    color: var(--resume-txt);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px
}

#profession {
    border-bottom: 1.5px solid var(--resume-txt);
    padding-bottom: 2px;
}

#resume-summary p {
    margin-top: 10px;
}

#resume-summary h2 {
    color: var(--resume-txt);
}

#left-profile-image, #right-profile-image {
    background-image: url('/assets/images/resume/ibrahimAKIN.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 25px 0 15px 0;
    height: 130px;
}

#right-profile-image {
    display: none;
    margin: 0 7px 0 0;
}

#contact {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px 0;
    background-color: var(--resume-txt);
}

#contact div {
    padding: 4px 0;
    font-weight: 500;
}

#contact a {
    text-decoration: none;
    color: #000;
}

.contact-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--resume-clr);
}

#mail-icon {
    -webkit-mask-image: url('/assets/icons/resume/email.svg');
    mask-image: url('/assets/icons/resume/email.svg');
}

#phone-icon {
    -webkit-mask-image: url('/assets/icons/resume/smartphone.svg');
    mask-image: url('/assets/icons/resume/smartphone.svg');
}

#location-icon {
    -webkit-mask-image: url('/assets/icons/resume/maps-and-flags.svg');
    mask-image: url('/assets/icons/resume/maps-and-flags.svg');
}

#www-icon {
    -webkit-mask-image: url('/assets/icons/resume/www.svg');
    mask-image: url('/assets/icons/resume/www.svg');
}

#linkedin-icon {
    -webkit-mask-image: url('/assets/icons/resume/linkedin.svg');
    mask-image: url('/assets/icons/resume/linkedin.svg');
}

#github-icon {
    -webkit-mask-image: url('/assets/icons/resume/github.svg');
    mask-image: url('/assets/icons/resume/github.svg');
}

#stackoverflow-icon {
    -webkit-mask-image: url('/assets/icons/resume/stack-overflow.svg');
    mask-image: url('/assets/icons/resume/stack-overflow.svg');
}

.private-info {
    filter: blur(3px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#skills>div {
    display: inline-block;
    background-color: var(--resume-clr);
    color: var(--resume-txt);
    padding: 5px;
    border-radius: 7px;
    margin-top: 5px;
    cursor: default;
}

#skills>div:hover {
    background-color: var(--resume-clr-hvr);
}

#interests>div {
    display: inline-block;
    border: 1px solid #808080;
    padding: 5px;
    border-radius: 7px;
    margin-top: 5px;
    cursor: default;
}

#interests>div:hover {
    border-color: var(--resume-clr-hvr);
    color: var(--resume-clr-hvr);
}

.language {
    margin: 10px 0 5px 0;
}

#educations {
    margin-top: 10px;
}

.edu-period {
    color: var(--resume-clr);
    font-style: italic;
}

.education-content {
    display: flex;
    justify-content: space-between;
}

.education-content>div {
    width: 50%;
}

.sec-title {
    color: var(--resume-clr);
    font-style: italic;
}

#show-more, #show-less {
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap;
}

.certificate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.certificate>a, .cert-period>a {
    white-space: nowrap;
}

.cert-info {
    width: 100%;
}

.cert-period {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

#projects li, #skills, #interests, .mb {
    margin-bottom: 20px;
}

#projects h3[id]::before {
    content: '';
    display: block;
    height: 220px;
    margin-top: -220px;
    visibility: hidden;
}

@media screen and (max-width: 750px) {
    #root {
        flex-direction: column-reverse;
    }

    #resume-left, #resume-right {
        overflow: unset;
        height: unset;
        width: 100%;
    }

    #right-profile-image {
        display: block;
        width: 200px;
    }

    #left-profile-image {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    #resume-summary, #contact {
        position: relative;
    }
}

@media screen and (max-width: 450px) {
    #resume-summary, #contact {
        top: var(--topnav-height);
    }

    #resume-summary {
        margin-top: 0;
    }

    .filled {
        border-color: var(--resume-clr);
    }
}