<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Sphere" />
    <meta name="theme-color" content="#0a141d" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sphere</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/components/navigation/sidenav/sidenav.css" />
    <link rel="stylesheet" type="text/css" href="/components/navigation/topnav/topnav.css" />
    <link rel="stylesheet" type="text/css" href="/components/navigation/navigation.css" />
    <link rel="stylesheet" type="text/css" href="sphere.css" />
    <script type="text/javascript" defer src="/components/navigation/sidenav/sidenav.js"></script>
    <script type="text/javascript" defer src="/components/navigation/topnav/topnav.js"></script>
    <script type="text/javascript" defer src="sphere.js"></script>
</head>
<body>
    <top-nav></top-nav>
    <side-nav></side-nav>
    <div id="root">
        <div class="smile">
            <div id="sm-w" class="smile-wrapper" style="transform: rotateX(0deg) rotateY(0deg);">
                <div>
                    <div class="eye eye-left"></div>
                    <div class="eye eye-right"></div>
                    <div class="blush blush-left"></div>
                    <div class="blush blush-right"></div>
                    <div class="mouth"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>