top-nav, side-nav {
    position: absolute;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smile {
    --size: 10rem;
    background-color: #ede32b;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5), 0 -0.6rem 1.5rem rgba(0, 0, 0, 0.3) inset;
    transform-style: preserve-3d;
    transform: scale(1);
    perspective: 50rem;
    transition: transform 256ms ease-out;
}

.smile:after {
    content: "";
    background-color: #ffffff;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 50%;
    filter: blur(0.4rem);
}

.smile-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 128ms ease-out;
}

.smile-wrapper>div {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateZ(5rem);
}

.eye {
    background-color: #000000;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 4.5rem;
    border-radius: 50%;
}

.eye:after {
    content: "";
    background-color: #ffffff;
    width: 25%;
    height: 25%;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 50%;
    filter: blur(0.02rem);
}

.eye-left {
    left: 2.5rem;
    transform: rotateY(-15deg) translateZ(-5px);
}

.eye-right {
    right: 2.5rem;
    transform: rotateY(15deg) translateZ(-5px);
}

.blush {
    background-color: #ff4040;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 6rem;
    border-radius: 50%;
    filter: blur(0.5rem);
}

.blush-left {
    left: .5rem;
    transform: rotateY(-45deg) rotateX(-15deg) translateZ(-17px);
}

.blush-right {
    right: .5rem;
    transform: rotateY(40deg) rotateX(-15deg) translateZ(-17px);
}

.mouth {
    --width: 1.8rem;
    width: var(--width);
    height: 1.2rem;
    border-bottom: solid 0.3rem #000000;
    position: absolute;
    bottom: 2rem;
    left: calc(50% - calc(var(--width) / 2));
    border-radius: 0 0 50% 50% / 0 0 75% 75%;
    box-sizing: border-box;
    transform: rotateX(-20deg) translateZ(-10px);
}