#topnavbar {
    display: none;
    /* position: absolute; */
    width: 100%;
    height: 50px;
    z-index: 20;
    font-size: 0.625em;
    line-height: 1;
}

#topnavbar button {
    outline: none;
    border-radius: var(--sidenav-button-rad);
    width: 100%;
    height: 100%;
}
#topnavbar a, .dropdown-top {
    width: 100%;
    height: 100%;
    color: black;
}

#topnavbar .dropdown-content button{
    padding: 10px 0;
}

.dropdown-top:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 450px) {
    #sidenavbar {
        transition: display 1000ms linear;
        display: none;
    }
    #topnavbar {
        transition: display 1000ms linear;
        display: inline-flex;
    }
}
