side-nav {
    width: 0;
}

body>div {
    margin: auto;
    color: #fff;
    font-size: large;
}

select, button, label>span, .select {
    cursor: pointer;
}

select, button, input {
    padding: 5px;
    border-radius: 8px;
}

select {
    border-width: 2px;
    border-style: inset;
}

input {
    margin-top: 5px;
    font-size: medium;
    width: 100%;
}

button {
    margin-top: 8px;
    position: relative;
}

button:disabled {
    cursor: default;
}

button:disabled::before {
    content: '⌒';
    color: #fff;
    font-weight: 900;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: loading 1s linear infinite;
    left: 0;
    top: 0;
}

button:has(+button) {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    float: right;
}

p {
    text-align: right;
    margin: 18px 4px 0 2px;
    min-height: 1.223em;
}

p:first-of-type {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

p:first-of-type>span:first-child {
    text-align: left;
    margin-right: auto;
}

p:nth-of-type(2) {
    color: #f00;
    font-weight: bold;
}

form:first-of-type p:last-of-type {
    color: #adff2f;
}

form:first-of-type>label {
    display: inline-block;
    position: relative;
}

a+a {
    float: right;
    margin: 14px 4px 0 0;
    text-underline-offset: 3px;
    font-size: .9em;
    color: #ccc;
}

#pin>label {
    position: absolute;
    font-size: smaller;
    color: #000;
    bottom: 7px;
    right: 6px;
}

#pin>label>span {
    user-select: none;
}

.hidden,
.hidden+br,
#pin span:last-child,
#pin.show span:nth-child(2),
#pin>input:placeholder-shown+label {
    display: none;
}

#pin.show span:last-child {
    display: unset;
}

@keyframes loading {
    to {
        transform: rotateZ(360deg);
    }
}

.select {
    position: relative;
    color: #000;
}

.selected, .options>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected, .options, .link-img {
    border: 2px inset #999;
    border-radius: 8px;
}

.selected {
    background: #fff;
    padding: 4px 0 4px 2px;
}

.selected::after {
    content: '\025BE';
    text-align: center;
    width: 29px;
}

.selected>div[lang-tag] {
    padding-left: 3px;
}

.selected>div:nth-child(2) {
    padding-left: 3px;
}

.select>div:last-child, .options {
    position: absolute;
    width: 100%;
}

.select>div:last-child {
    display: none;
    height: 100%;
    z-index: 1;
    top: 0;
}

.selected:focus-visible {
    outline: 1px auto #000;
}

.select:focus-within>div:last-child {
    display: block;
}

.select:focus-within>.selected::after {
    content: '\025B4';
}

.options {
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    top: 100%;
}

.option {
    border-bottom: 1px solid #eee;
    padding-left: 2px;
}

.option:hover {
    background: #aaa5;
}

.option>div:first-child {
    padding: 5px 0 5px 3px;
}

.option>div:last-child {
    text-align: center;
    padding: 15px 0;
    width: 29px;
}

.option>div:last-child:hover {
    background: #aaaa;
}

.options>div:not([class]) {
    padding: 5px 8px;
}

.link-img {
    display: block;
    width: 150px;
    height: 40px;
    margin: 10px 2px 10px auto;
    padding-left: 43px;
    color: var(--bg-clr);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/assets/images/projects/lcd/google-play.png');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: auto 65%;
    background-position: 9px;
    white-space: nowrap;
    font-weight: 600;
    overflow: hidden;
}

.link-img>div {
    text-overflow: ellipsis;
    overflow: hidden;
}

.link-img>div:first-child {
    margin: 6px 0 1px;
    font-size: 8px;
}

.link-img>div:last-child {
    font-size: 16.5px;
}