side-nav {
    width: 0;
}

body>div {
    margin: auto;
    color: #fff;
    font-size: large;
}

select, label, button {
    cursor: pointer;
}

select, input, button {
    padding: 5px;
    border-radius: 8px;
}

input {
    margin-top: 5px;
    font-size: medium;
    width: 100%;
}

button {
    margin-top: 8px;
    position: relative;
}

button:disabled {
    cursor: default;
}

button:disabled::before {
    content: '⌒';
    color: #fff;
    font-weight: 900;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: loading 1s linear infinite;
    left: 0;
    top: 0;
}

p {
    margin: 20px 0 0 2px;
    height: 1em;
}

.hidden {
    display: none;
}

@keyframes loading {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}