.filled, .menu:hover .filled, .pin-menu:checked + div .filled {
    border: 2px outset #0a141d;
}
.expand .filled {
    border: none;
}
.docApp {
    background-color: #fff;
    font-family: inherit;
}