.ns {
    --clr: #fff;
}

#root {
    color: #fff;
}

#root>div {
    display: flex;
    margin: auto;
}

#root>div:nth-child(2) {
    max-width: 1440px;
}

#root>div:nth-child(2) {
    margin-bottom: 5px;
    padding-bottom: 15px;
    overflow: auto;
}

#root>div:nth-child(4) {
    flex-direction: column;
}

#root>div:nth-child(4)>div:nth-child(2) {
    display: flex;
    align-items: center;
}

#root>div:nth-child(4)>div:nth-child(3) {
    padding-bottom: 10px;
    max-width: 100%;
    overflow: auto;
}

#root>div>div {
    margin: auto;
}

label[for="restxt"], #restxt {
    position: absolute;
    left: -100%;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

#copy {
    margin: 20px;
}

#copy+div {
    text-align: center;
    opacity: 0;
}

table {
    margin: auto;
}

td:first-child {
    text-align: center;
    width: 103px;
}

td:nth-child(3) {
    width: 400px;
}

td>input {
    width: 100%;
}

input {
    padding: 5px;
}

label {
    cursor: pointer;
}

label:not([for]) {
    display: inline-block;
    margin: 20px;
}

label>input {
    cursor: pointer;
}

textarea {
    padding: 5px;
    height: 200px;
    width: 400px;
    margin: 25px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 5px 10px;
    cursor: pointer;
}

.langs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.langs>div {
    text-align: center;
    visibility: hidden;
}

.langs>button {
    margin: 0;
}

ul {
    width: fit-content;
    padding-top: 10px;
    max-width: 100%;
    overflow: auto;
    margin: auto;
}

li {
    margin-bottom: 15px;
}

b {
    color: #f00;
}