#root {
    color: #fff;
}

#root>div {
    display: flex;
    margin: auto;
    max-width: 1440px;
}

#root>div:last-child {
    flex-direction: column;
}

#root>div>div {
    margin: auto;
}

label[for="restxt"], #restxt {
    position: absolute;
    left: -100%;
    opacity: 0;
}

#copy+div {
    margin-bottom: 15px;
    text-align: center;
    opacity: 0;
}

table {
    margin: auto;
}

td:first-child {
    width: 103px;
}

td:nth-child(2) {
    width: 400px;
}

td>input {
    width: 100%;
}

input {
    padding: 5px;
    margin-left: 5px;
}

label {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

label[for="tr"], label[for="en"] {
    display: block;
    margin: 0;
}

label>input {
    cursor: pointer;
}

textarea {
    padding: 5px;
    height: 200px;
    width: 400px;
    margin: 25px;
}

textarea+div {
    text-align: center;
    visibility: hidden;
}

button {
    display: block;
    margin: 20px auto;
    padding: 5px 10px;
    cursor: pointer;
}