.filled {
    border: 2px outset buttonborder;
    border-radius: 0;
}

#collapse:active+.filled,
.pin-menu:active+.filled,
.filled:active {
    border-style: inset;
}

#content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#canvas-container+div {
    width: 78px;
}

#game {
    background-color: #000;
    border: 1px solid #fff;
}

#content-container button {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}