top-nav, side-nav {
    height: 0;
    width: 0;
}

body>div {
    margin: auto;
    text-align: center;
}

body>div>a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 20px;
}

svg {
    user-select: none;
}