body {
    font-family: system-ui;
    color: #fff;
}

#root {
    max-width: 1100px;
    margin: auto;
    padding: 1em;
}

header, section {
    margin-bottom: 16px;
}

h1 {
    font-size: 28px;
    margin: 8px 0;
}

h2 {
    font-size: 18px;
    margin-bottom: 6px;
}

p {
    line-height: 1.65;
    margin-bottom: 6px;
}

a {
    color: #fff;
}

div>a {
    text-decoration: none;
}

p>a {
    text-underline-offset: 3px;
}

header>p {
    font-size: 15px;
}

header>div {
    display: inline-block;
    border: 1px solid;
    padding: 5px;
    border-radius: 6px;
    margin: 14px 0 2px 0;
    font-size: 13px;
}

section:last-child {
    font-size: 13px;
}

footer {
    font-size: 13px;
    text-align: center;
}