<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotate Animation</title>
    <link href="./rotateAnimation.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="sq square-m">
                <div class="sq square-t-m" style="background-color: transparent;">
                    <div class="sq square-t"></div>
                </div>
                <div class="sq square-l"></div>
                <div class="sq square">
                    <div class="sq square">
                        <div class="sq square">
                            <div class="sq square">
                                <div class="sq square-l"></div>
                                <div class="sq square-r"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sq square-r"></div>
            </div>
        </div>
    </div>
</body>
</html>