<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotate Animation</title>
    <link href="./rotateAnimation.css" rel="stylesheet" type="text/css" />
    <script src="./rotateAnimation.js" type="text/javascript" defer></script>
</head>
<body>
    <div id="drag-n-drop" class="content">
        <div class="container">
            <div class="square sq-m sq2">
                <div class="square sq-t-m sq1" style="background-color: transparent;">
                    <div class="square sq-t sq0"></div>
                </div>
                <div class="square sq-l sq3"></div>
                <div class="square sq sq5">
                    <div class="square sq sq6">
                        <div class="square sq sq7">
                            <div class="square sq sq7">
                                <div class="square sq-l sq8"></div>
                                <div class="square sq-r sq9"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="square sq-r sq4"></div>
            </div>
        </div>
        <div id="rotation-buttons">
            <button id="up-button">Up</button>
            <button id="down-button">Down</button>
            <button id="left-button">Left</button>
            <button id="right-button">Right</button>
        </div>
    </div>
</body>
</html>