<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#0a141d" />
    <meta name="description" content="Draw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Draw</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/components/navigation/sidenav/sidenav.css" />
    <link rel="stylesheet" type="text/css" href="/components/navigation/topnav/topnav.css" />
    <link rel="stylesheet" type="text/css" href="/components/navigation/navigation.css" />
    <link rel="stylesheet" type="text/css" href="draw.css" />
    <script type="text/javascript" defer src="draw.js"></script>
    <script type="text/javascript" defer src="/components/navigation/lang.js"></script>
    <script type="text/javascript" defer src="/components/navigation/sidenav/sidenav.js"></script>
    <script type="text/javascript" defer src="/components/navigation/topnav/topnav.js"></script>
    <script type="text/javascript" defer src="/script.js"></script>
</head>
<body>
    <top-nav></top-nav>
    <side-nav></side-nav>
    <canvas id="canvas">
        Your browser does not support canvas element.
    </canvas>
    <br />
    <!-- Log: -->
    <pre id="log"></pre>
</body>
</html>