<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotate Animation</title>
    <link href="../rotateAnimation.css" rel="stylesheet" type="text/css" />
    <script src="../rotateAnimation.js" type="text/javascript" defer></script>
</head>
<body>
    <div id="drag-n-rotate" class="content">
        <div id="sq-c">
            <div class="square sq-m sq0t">
                <div class="square sq-tr-m">
                    <div class="square sq-tr sq00">
                        <div class="square sq-l sq00"></div>
                        <div class="square sq-r sq00"></div>
                    </div>
                    <div class="square sq-lr"></div>
                    <div class="square sq-rr"></div>
                </div>
                <div class="square sq-l"></div>
                <div class="square sq-r"></div>
                <div class="square sq sq0t">
                    <div class="square sq-l sq00"></div>
                    <div class="square sq-r"></div>
                    <div class="square sq sq0t">
                        <div class="square sq-l sq00"></div>
                        <div class="square sq-r"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rotation-buttons">
        <div><button id="up-button">&uarr;</button></div>
        <div>
            <button id="left-button">&larr;</button>
            <button id="center-button">O</button>
            <button id="right-button">&rarr;</button>
        </div>
        <div><button id="down-button">&darr;</button></div>
    </div>
</body>
</html>