<html lang="en">
<head>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidenav</title>
    <link href="../../../styles.css" rel="stylesheet" type="text/css" />
    <link href="./sidenav.css" rel="stylesheet" type="text/css" />
    <link href="../topnav/topnav.css" rel="stylesheet" type="text/css" />
    <link href="../navigation.css" rel="stylesheet" type="text/css" />
    <link href="../../ripple-button/ripple-button.css" rel="stylesheet" type="text/css" />
    <link href="../../pages.css" rel="stylesheet" type="text/css" />
    <script src="./sidenav.js" type="text/javascript" defer></script>
    <script src="../topnav/topnav.js" type="text/javascript" defer></script>
    <script src="../../ripple-button/ripple-button.js" type="text/javascript" defer></script>
</head>
<body>
    <div id="docroot">
        <div class="docApp">
            <top-nav></top-nav>
            <div id="main-container">
                <div id="sidenav-mobile">
                    <side-nav></side-nav>
                </div>
                <div id="content-container" style="color: white;">
                    X
                </div>
            </div>
        </div>
    </div>
</body>
</html>