<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="theme-color" content="#0a141d" />
    <meta name="description" content="Sidenav" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidenav</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="sidenav_old.css" />
    <link rel="stylesheet" type="text/css" href="../topnav/topnav.css" />
    <link rel="stylesheet" type="text/css" href="../navigation.css" />
    <script type="text/javascript">const lang_obj = {};</script>
    <script type="text/javascript" src="../lang.js"></script>
    <script type="text/javascript" src="sidenav_old.js"></script>
    <script type="text/javascript" src="../topnav/topnav.js"></script>
    <script type="text/javascript" src="/script.js"></script>
</head>
<body style="color:#fff">
    <top-nav></top-nav>
    <side-nav></side-nav>
    X
</body>
</html>