<html lang="en">
<head>
    <meta name="theme-color" content="#0a141d" />
    <meta name="description" content="Sidenav" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidenav</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="sidenav.css" />
    <link rel="stylesheet" type="text/css" href="sidenav_r.css" />
    <link rel="stylesheet" type="text/css" href="../topnav/topnav.css" />
    <link rel="stylesheet" type="text/css" href="../navigation.css" />
    <script type="text/javascript" src="sidenav_r.js"></script>
    <script type="text/javascript" src="../topnav/topnav.js"></script>
</head>
<body>
    <top-nav></top-nav>
    <div id="main-container">
        <side-nav></side-nav>
        <div style="color: #fff;">
            X
        </div>
    </div>
</body>
</html>