side-nav {
    display: flex;
    height: 100vh;
    align-items: center;
    min-width: var(--sidenav-width);
}

#sidenav {
    height: 100%;
    max-height: 650px;
    width: var(--sidenav-width);
}

#sidenav .expand {
    transition: unset;
    transition-delay: .2s;
}

#sidenav .expand>div div>span {
    bottom: unset;
    margin-top: calc(-2 * var(--sidenav-gap));
    width: 100%;
}

.sub {
    grid-template-rows: repeat(7, 1fr);
}

.expand>div div {
    perspective: 1000px;
    position: relative;
    padding-top: calc(2 * var(--sidenav-gap));
    transition: transform .2s linear;
    transform-style: preserve-3d;
    transform: rotateX(-50deg);
    transform-origin: top;
}

.menu:hover>.expand>div div,
.pin-menu:checked+.expand>div div {
    transform: rotateX(0);
}