side-nav {
    display: flex;
    align-items: center;
    width: var(--sidenav-width);
}

#sidenav {
    width: var(--sidenav-width);
    max-height: 630px;
}

#sidenav .expand {
    transition: unset;
    transition-delay: .2s;
}

#sidenav .expand>div div>span {
    bottom: unset;
    margin-top: calc(-2 * var(--nav-gap));
    width: 100%;
}

#sidenav .main .expand div>span {
    opacity: 0;
}

#sidenav .main a:hover+span {
    opacity: 1;
}

.sub {
    grid-template-rows: repeat(7, 1fr);
}

.expand>div div:not([title]) {
    perspective: 1000px;
    padding-top: calc(2 * var(--nav-gap));
    transition: transform .2s linear;
    transform-style: preserve-3d;
    transform: rotateX(-49deg);
    transform-origin: top;
    box-sizing: content-box;
    height: 100%;
}

.menu:hover>.expand>div div,
.pin-menu:checked+.expand>div div {
    transform: rotateX(0);
}