#topnav {
    background-color: var(--bg-clr);
}

#root {
    display: grid;
    color: #fff;
}

form {
    display: flex;
    min-height: 55px;
    background-color: var(--bg-clr);
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
}

input, textarea, form+div button {
    padding: 8px;
    background-color: transparent;
    border-color: #fff;
    border-radius: 7px;
    color: #fff;
}

button, label, input::-webkit-search-cancel-button {
    cursor: pointer;
}

form>button {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    background-color: #fff;
}

form>button:nth-child(3) {
    -webkit-mask-image: url('/assets/icons/projects/github-followers/external-link.svg');
    mask-image: url('/assets/icons/projects/github-followers/external-link.svg');
    height: 20px;
    width: 20px;
}

label {
    user-select: none;
}

label>input, form+div span {
    visibility: hidden;
}

input:checked+span {
    color: #f00;
}

form+div {
    display: none;
    align-items: center;
    height: fit-content;
    min-height: 100px;
    margin: 2px auto;
    position: relative;
}

form+div::before {
    content: attr(count);
    font-weight: bold;
    font-size: 20px;
    top: 6px;
    left: 16px;
    position: absolute;
}

textarea {
    width: 400px;
    height: 200px;
}

form+div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form+div button {
    margin: 1rem 15px 0;
}

form+div span {
    margin-top: 5px;
}

table {
    margin: auto;
    border-spacing: 0;
    max-width: 1000px;
    width: 100%;
}

thead {
    background-color: var(--bg-clr);
    position: sticky;
    z-index: 1;
    top: 55px;
}

thead>tr>th {
    padding: 10px 0;
}

td {
    width: 50%;
}

ul {
    margin-left: 20px;
}

li>div {
    display: inline-block;
}

a {
    color: #c9d1d9;
    text-decoration: none;
}

table button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background-color: #fff;
}

button[lang-tag='search'] {
    -webkit-mask-image: url('/assets/icons/projects/github-followers/search.svg');
    mask-image: url('/assets/icons/projects/github-followers/search.svg');
}

button[lang-tag='block'] {
    background-color: transparent;
    color: #fff;
    border: none;
}

img {
    margin: 10px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: #ffffff1a;
    box-shadow: 0 0 0 1px #f0f6fc1a;
    aspect-ratio: auto 50 / 50;
    height: 50px;
    width: 50px;
}

p {
    text-align: center;
}

@media screen and (max-width: 450px) {
    form {
        top: var(--topnav-height);
    }

    thead {
        top: calc(var(--topnav-height) + 55px);
    }

    textarea {
        width: unset;
    }

    a {
        display: inline-flex;
        flex-direction: column;
    }

    table button:first-child {
        margin-left: 0;
    }

    img {
        margin: 10px auto;
    }

    ul {
        margin-left: 0;
    }

    li {
        list-style-type: none;
        text-align: center;
    }

    li>div {
        display: block;
        margin: 10px 0;
    }
}