#menu-content-container {
    display: flex;
    height: 100%;
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    z-index: 0;
}
.card-item {
    display: flex;
    width: 200px;
    height: 300px;
    margin: 10px 5px;
    border: 1px solid #f00;
    border-radius: 20px;
    transition: transform 100ms linear;
    box-shadow: 0px 5px 40px 5px #000;
}
.card-item:hover {
    transform: scale(1.2);
    box-shadow: 0px 5px 60px 0.1px #000;
    z-index: 1;
}
.card-item a {
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
}
.card-item:hover a {
    box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.5);
}
.card-item:hover .card-content {
    box-shadow: inset 0 0 20px 0 #fff;
}
.card-item:hover .card-img {
    transform: scale(1.2);
}
.card-item:hover .card-title {
    transform: scale(1.2);
}
.card-content {
    border: 1px solid #fff;
    border-radius: 20px;
    overflow: hidden;
}
.card-img {
    height: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 100ms linear;
}
.card-title {
    color: #fff;
    font-weight: bold;
    height: 50%;
    display: flex;
    transition: transform 100ms linear;
}
.card-title > div {
    margin: auto;
    text-align: center;
}
.bird-img {
    background-image: url('../../assets/images/games/bird.png');
}
.snake-img {
    background-image: url('../../assets/images/games/snake.png');
}
.tetris-img {
    background-image: url('../../assets/images/games/tetris.png');
}
.lcd-img {
    background-image: url('../../assets/images/projects/lcd.png');
}
.movies-img {
    background-image: url('../../assets/images/projects/movies.png');
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
.stars, .clouds {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}
.stars {
    background:#000 url(../../assets/images/menu/stars.png) repeat top center;
}
.clouds {
    background:transparent url(../../assets/images/menu/clouds.png) repeat top center;
    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
}